/**Font**/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400;1,900&display=swap');

:root {
    --primary: #f8fafc;
    --secondary: #171717;
    --tertiary: #4b5563;
    --site-bg1: #4b5563;    ;
    --site-bg2: #171717;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background-color: var(--secondary);
}

/**Container**/

.container {
    padding: 1rem 1rem;
}

.container-center {
    max-width: 350px;
    margin: auto;
}

/**Links**/ 

.link {
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    font-weight: 100;
}

.link-primary {
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 0.25rem;
    border: 1px solid var(--secondary);
}

.link-secondary {
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 0.25rem;
    border: 1px solid var(--primary);
}

hr {
    margin: 2rem 0rem;
    border-top: 1px solid var(--primary);
}

/**Lists**/

.list-non-bullet {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0rem 1rem;
    margin-block-start: 0rem;
}

/**Navigation**/

.navigation {
    border-radius: 0.3rem;
    background-color: var(--tertiary);
    color: var(--primary);
    padding: 1rem 1rem;
}

.navigation a:hover {
    color: var(--secondary);
}

.nav-brand {
    font-weight: 800;
    font-size: 1.5rem;
    padding-left: 0.5rem;
}

.link-site {
    color: var(--primary);
}

.list-site {
    text-align: right;
}

.navigation .link-active .link {
    font-weight: 900;
    text-decoration: none;
}

/**Header**/

.hero {
    border-radius: 1rem;
    background-color: var(--secondary);
    padding: 2rem;
    text-align: center;
}

.hero-heading {
    font-size: large;
    color: var(--tertiary);
}

.hero-img {   
    max-width: 350px;
    display: block;
    margin: auto;
}

.word-highlight {
    color: var(--primary);
}

.hero-meta-blog .hero-heading{
    padding: 1rem;
    padding-left: 1rem;
    color: var(--primary);
    text-align: center;
    font-weight: 800;
    font-size: 1.2rem;
}

.hero-meta-blog .hero-code {
        background-color: var(--tertiary);
        border-radius: 4px;
        padding: 0 3px;    
}

/**Section**/

.section-grey {
    box-shadow: 1px 1px 7px 0.5px var(--primary);
    max-width: 350px;
    padding: 2rem;
    padding-left: 3rem;
    color: var(--primary);
    background-color: var(--site-bg1);
    border-radius: 0.3rem;
}

.section-black {
    box-shadow: 3px 3px 7px 0.5px var(--tertiary);
    max-width: 350px;
    padding: 2rem;
    padding-left: 3rem;
    border-radius: 0.3rem;
    color: var(--primary);
    background-color: var(--site-bg2);

}



.parent {
    display: flex;
    justify-content: center;
}

.child {
    float: left;
}

.gap {
    background-color: var(--secondary);
    padding: 2rem 0rem;  
}

.gap-vertical {
    padding-left: 2rem;
}
/**Footer**/

.footer {
    background-color: var(--tertiary);
    padding: 2rem 0rem;
}

.footer .footer-header {
    text-align: center;
    font-weight: 600;
}

.footer .list-social {
    color: var(--secondary);
    padding-inline-start: 0px;
    text-align: center;
}

.footer .link-social {
    color: var(--secondary);
    font-weight: 500;
}

.footer a:hover {
    color: var(--primary);
}
/**Content**/

.content-definition {
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--primary);
}

.content-definition .hero-code {
    background-color: var(--tertiary);
    border-radius: 4px;
    padding: 0 3px; 
    font-size: 1rem;
}

.content-definition .content-heading {
    background-color: var(--site-bg1);
    padding: 0rem 1rem;
    
    color: var(--secondary);
}

.content-definition .definition-text {
    padding-left: 1rem;
    line-height: 1;
}


.content-attributes {
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--primary)
}

.content-attributes .content-heading {
    background-color: var(--site-bg1);
    padding: 0rem 1rem;
    color: var(--secondary);
}

.content-attributes .hero-code {
    background-color: var(--tertiary);
    color: var(--secondary);
    border-radius: 4px;
    padding: 0 3px; 
    font-size: 1rem;
}

.blog-gap {
        background-color: var(--secondary);
        padding: 3px;  
}

.content-attributes .primary-link {
    padding: 0.2rem;
    font: 500;
    background-color: var(--tertiary);
    color: var(--primary);
    border-radius: 0.5rem;
    border: 1px solid var(--secondary);
}